body
 {
  font-family: "Plus Jakarta Sans", sans-serif !important;/*Applied fornt style form google fonts*/
  display:flex;
  flex-direction: column;
  min-height: 100vh;


}
.container{
    flex:1

}

/* Navbar  */
.navbar{
    height: 5rem;   /*Setting navbar hight*/
    background-color: white /*Setting navbar background color to white*/
}
.fa-compass{
    color:#fe424d;   /*Setting color of icon*/
    font-size: 2rem;   /* and Size*/
}
.nav-link{
    color:#222222 !important;  /* Setting Color of links  in side navabar*/

}

/* Footer */

.f-info-links{
    text-decoration: none;     /*Removing the defult link color of term and privacy*/
    color:#222222 ;  /*   Adding collor to link */  
}
.f-info-links a:hover{
    text-decoration: underline;   /* Adding hover effect*/
  
}

.f-info-links{
    width: 100%; /*Giving 100% widht to yhe links*/
    display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials{
    width : 100%;/*Giving 100% width to the soscial media plateform icon*/
     display: flex;
    align-items: center;
    justify-content: center;
   
}

.f-info-brand{
      width : 100%;/*Giving 100% wit to brand name*/
     display: flex;
    align-items: center;
    justify-content: center;
}
.f-info-socials i{
    font-size: 1.2rem;
   
    margin-right: 1.2rem; /*Giving the space btween icons under f-info-socilas*/
}


.f-info{
    text-align: center;/*Aligning all the things at the center*/
    height:8rem;/* Adding hegingt to footer*/
    background-color: #ebebeb; /*Adding coolor to footer*/
    display : flex; /* Alligning content in one line*/
    flex-wrap:wrap;
   justify-content: center; /*Item allign at center*/
   align-items: space-evenly;
}


/* Cards*/

.listing-card{
    border :   none !important; /* Removed border between cards*/
    margin-bottom: 2rem; /*Marginn from bootm*/
}

.card-img-top{
    border-radius: 1rem  !important; /* Given border raidus to image part*/
    width : 100% !important;
    object-fit:cover !important;

}

.card-body{
    padding:0 !important; /*Card body which contain text we given padding 0 so that it aaloign with the inmage*/
}

.card-text p {
    font-weight:400 !important;
    /* Given  font weight to the card text part*/
}

.listing-link{
    text-decoration: none;/*removing underline form card text as card is enclosed inside a anchor tag*/
}



/*Card effecr*/

.card-img-overlay{
    opacity: 0;  /*Initially the opacity of card overlay will be 0*/
}

.card-img-overlay:hover{
    opacity:0.2; /*On beging hover the opacity become 0.2*/
    background-color: white;/*And color changes to white with less opacity*/
}

.add-btn{
    background-color: #fe424d !important;
    border:none !important;
}


/*REdit page*/
.edit-btn{
         background-color: #fe424d !important;
         border:none !important;
}

/* Show page */

.show_img{
    height:30vh
}


.btns{
    display : flex;
}

.sho-card{
    padding-left:0;
}


/*map*/

#map{ 
      height:400px;
      width : 80vh;
    }
